@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    
        --color-bg: #ffffff;
        --header-bg: #ffffff;
        --color-text: #000000;
        --white-text: #818181;
        --primary-color: #100BD4;
        --primary-color-hover:#0e0bd4c7;
        --color-box-shadow: rgba(0, 0, 0, 0.25);
        --color-border : #00000059;
        --alert-color : rgba(255, 0, 0, 0.253);
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


/* -------------------------------NAVBAR----------------------------------- */

body {
    background: var(--color-bg);
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.change-theme {
    position: absolute;
    top: 115px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
    transition: .3s;
    color: var(--color-text);
}

.change-theme:hover {
    color: var(--primary-color-hover);
    font-size: 50px;
}

/* DARK THEME COLORS */
body.dark-theme {
    --color-bg: #02030B;
    --header-bg : #02030B;
    --color-text: #96a4cc;
    --white-text: #2b2b2b;
    --primary-color: #04D0F5;
    --primary-color-hover: #03bcdd;
    --color-box-shadow: rgba(255, 255, 255, 0.055);
    --color-border : #ffffff59;
    --alert-color : rgb(179, 46, 46);
}

.header {
    display: flex;
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 12;
    top: 0px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 23px;
    border-bottom: 1px solid var(--color-border);
    background-color:var(--header-bg);
    box-shadow: none;
}

.header:hover {
    box-shadow: 0px 1px 10px var(--color-box-shadow);
}

.logo {
    display: flex;
    flex-direction: row;
    font-size: 36px;
    font-weight: 700;
}

.logo a {
    color: var(--color-text);
    transition: .3s
}

.logo a:hover {
    color: var(--primary-color-hover);
    font-size: 40px;
}

.name-logo {
    position: relative;
    top: 20px;
    left: 5px;
    font-size:20px;;
    color: var(--color-text);
    font-weight: 300;
}

.navbar {
    display: flex; 
    align-items: baseline;
}

.nav-itens {
    display: flex;
    align-items: center;
    color: var(--color-text);
    font-size: 20px;
    font-weight: 275;
    transition: .2s;
}


.nav-itens:nth-of-type(1) {
    border-right: 1px solid var(--color-border);
    padding: 0 40px 0 40px;
}

.nav-itens:nth-of-type(2){
    border-right: 1px solid var(--color-border);
    padding: 0 40px 0 40px;
}

.nav-itens:nth-of-type(3){
    padding: 0 40px 0 40px;
    border-right: 1px solid var(--color-border);
    border: none;
}

.nav-itens:nth-last-child(2) {
    position: relative;
    height: 37px;
    left: 70px;
    background: var(--primary-color);
    width: 189px;
    height: 64px;
    padding: 10px;
    border-radius: 50px;
    color: white;
    font-weight: 500;
    justify-content: center;
    box-shadow: 0px 8px 10px var(--color-box-shadow);
    transition: .3s;
}


.nav-itens:nth-last-child(2):hover {
    color: white;
    font-weight: 600;
    background-color: var(--primary-color-hover) ;
    box-shadow: none;
}

.nav-itens:hover {
    color: var(--primary-color-hover);
    font-weight:500;
}


/* ----------------------------NAVBAR END------------------------------- */


/* ----------------------------HOME SECTION------------------------------- */

.home {
    height:100vh;
    color: var(--color-text);
}

.title {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.home-title {
    width: 770px;
    animation: typing 1.5s steps(31), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 64px;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
    border-color: transparent
    }
}

.sub-heading {
    font-size: 40px;
    display: flex;
    padding-left: 270px;
}

.arrow {
    font-size:100px;
    margin:  0 auto;
}

.bx {
    color: var(--color-text);
    transition: .3s;
}

.arrow-text {
    font-size:16px;
    font-weight: 600;
    color: var(--color-text);
    position: absolute;
}

.bx:hover {
    color: var(--primary-color-hover);
}

.social-medias {
    display:flex;
    flex-direction: column;
    position: fixed;
    padding-left: 20px;
    top: 35%;
    font-size:40px;
}

.social-media-itens {
    color: var(--color-text);
    transition: .5s;
}
.social-media-itens:hover {
    color: var(--primary-color-hover);
    font-size: 45px;
} 
/* ---------------------------- END OF HOME SECTION------------------------------- */

/* ---------------------------- ABOUT ME SECTION------------------------------- */

.about-me {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 700;
    height: 100%;
    color: var(--color-text);
}


.about-me-text {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
}

.about-me-title {
    display: flex;
    font-size: 100px;
}

.about-me-p {
    display: flex;

}

.about-me-img {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    height: 80vh;
    width: 700px;
}

/* ---------------------------- END OF ABOUT ME SECTION------------------------------- */


/* ---------------------------- RESUME SECTION------------------------------- */

.my-resume {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-bottom: 20px;
}

.resume {
    display: flex;
    margin-top: 100px;
    height: 100vh;
    margin-right: 50px;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.resume-img {
    height: 550px;
}

.resume-download-btn {
    display: flex;
    align-items: center;
    height: 37px;
    background: var(--primary-color);
    padding: 10px;
    border-radius: 50px;
    color: white;
    font-weight: 700;
    box-shadow: 0px 8px 10px var(--color-box-shadow);
    transition: .3s;
}

.resume-download-btn:hover {
    color: white;
    font-weight: 800;
    background-color: var(--primary-color-hover);
    box-shadow: none;
}




/* ---------------------------- END OF RESUME SECTION ------------------------------- */



/* ---------------------------- PROJECTS SECTION------------------------------- */


.projects {
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}

.alert {
    font-size:100px;
    color: var(--alert-color);
}

/* ---------------------------- END OFPROJECTS SECTION------------------------------- */



/* ---------------------------- FOOTER SECTION------------------------------- */


.footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50px;
}

.footer-text {
    display:flex;
    font-weight: bold;
    justify-content:space-around;
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--color-text);
    transition: .5s;
}

.footer-text:hover {
    color: var(--primary-color-hover);
    font-weight: 1000;
}

.footer-social-media {
    display: none;
}

/* ---------------------------- END OF FOOTER SECTION------------------------------- */


/* ---------------------------- MOBILE ------------------------------- */


.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--color-text);
    margin: 8px;
    transition: 0.3s;
}

@media (max-width:1373px) {
    .name-logo {
        display: none;
    }
    
    .header {
        display: flex;
    }
    .projects {
        width: 100vw;
    }
}


@media (max-width:1066px) {

    body {
        overflow-x: hidden;
    }

    .change-theme {
        margin-top:40px;
    }

    .social-medias{
        display:none;
    }

    .name-logo {
        display: flex;
        flex-direction:row;
    }

    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-end;
    }


    .about-me {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .resume-img {
        height: 450px;
    }


    .footer-social-media {
        display: flex;
        gap: 10px;
        margin-right: 10px;
        flex-direction: column;
        font-size:20px;
    }
    
    .footer-social-media-itens {
        color: var(--color-text);
    }
    .footer-social-media-itens:hover {
        color: var(--primary-color-hover);
    } 

    .footer {
        display: flex;
        justify-content:center;
        align-items: flex-end;
        height: 50px;
        justify-content: space-between;
    }

    .navbar {
        position: absolute;
        top: 11vh;
        right: 0;
        width: 100%;
        height: 20vh;
        background: var(--color-bg);
        box-shadow:  0px 50px 50px 0px var(--color-box-shadow);
        flex-direction: row;
        align-items: center;
        justify-content:center;
        transform: translatey(-200%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-itens {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display:block;
    }

}

@media (max-width:853px) {

    .nav-itens:nth-last-child(2){
        padding: 5px;
    }

    .nav-itens {
        font-size: 15px;
    }

    .nav-bar {
        display:flex;
        height: 15vh;
    }   

    .about-me-title {
        font-size: 90px;
}

.about-me-img{
    height: 90vh;
    width: 90vh;
}

.resume-img {
    height: 400px;
}

}

@media (max-width:781px) {

    body {
        overflow-x: hidden;
    }

    .navbar {
        display: flex;
        position: absolute;
        top: 98px;
        right: 0;
        width: 50vw;
        height: 90vh;
        background: var(--color-bg);
        flex-direction: column;
        align-items:center;
        justify-content: space-around;   
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-itens {
        font-size:22px;
        font-weight: 300;
    }

    .nav-itens:nth-of-type(1) {
        border-right: none;
    }

    .nav-itens:nth-of-type(2) {
        border-right: none;
    }

    .change-theme {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 525px;
        left: 20px;
    }

    .home-title {
        font-size:50px;
        width: 500px;
    }

    .sub-heading {
        font-size: 30px;
        padding-left: 120px;
    }

    .navbar.active {
        transform: translateX(0);
    }

} 

@media (max-width:697px) {

.resume-img {
    height: 340px;
}

.navbar {
    width: 60vw;
}

.alert {
    font-size:80px;
}

.about-me-p {
    font-size: 14px;
}
}

@media (max-width:600px) {

    .navbar {
        width: 70vw;
    }

    .resume-img {
        height: 300px;
    }

    .name-logo {
        display: none;
    }

    .alert {
        font-size:60px;
    }
}

@media (max-width:549px){

    .about-me-img {
        height: 70vh;
        width: 70vh;
    }

    .about-me-p {
        display: flex;
        justify-content: center;
        padding: 0;
        font-size:12px;
    }

    .resume-img {
        height: 260px;
    }

    .my-resume {
        display: flex;
        justify-content: space-evenly;
    }

    .navbar {
        width: 80vw;
    }

}

@media (max-width:473px) {

    .navbar {
        width: 90vw;
    }

    .about-me-title {
        font-size: 70px;
    }

    .about-me-p {
        font-size:10px;
    }

    .resume-img {
        height:230px;
    }

}

@media (max-width:420px) {

    .my-resume{
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        align-items: stretch;
    }

    .resume-download-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .resume-img {
        height: 210px;
    }

    .alert {
        font-size:50px;
    }

    .footer-text {
        font-size: 15px;
    }

} 

@media (max-width:376px) {

    .navbar {
        width: 90vw;
    }

    /* .home-title {
        display: flex;
        font-size: 50px;
        margin-left: 10px;
        margin-right: 80px;
    } */

    .resume-img {
        height: 195px;
    }   

    .about-me-img {
        height: 60vh;
        width: 60vh;
    }

    .about-me-title {
        font-size: 60px;
    }

    .about-me-p {
        font-size: 9px;
    }

    .footer-text {
        font-size: 13px;
    }

}

@media (max-width:321px) {

    .navbar {
        width: 100vw;
    }

    .about-me-p {
        font-size: 8px;
    }

    .resume-img {
        height: 160px;
    }   

    .alert {
        font-size: 45px;
    }   

}

.language {
    display: none;
}

.navbar.active {
    transform: translateY(0);
}




@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.mobile-menu.active .first-line {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .second-line {
    opacity: 0;
}

.mobile-menu.active .third-line {
    transform: rotate(45deg) translate(-5px, -7px);
}