@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    
        --color-bg: #ffffff;
        --header-bg: #ffffff;
        --resume-border-color: #ADADAD;
        --resume-bg: #e6e6e6;
        --color-text: #000000;
        --white-text: #818181;
        --primary-color: #100BD4;
        --primary-color-hover:#0e0bd4c7;
        --color-box-shadow: rgba(0, 0, 0, 0.25);
        --color-border : #00000059;
        --alert-color : rgba(255, 0, 0, 0.253);
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

#active {
    color: var(--primary-color);
}


/* -------------------------------NAVBAR----------------------------------- */


html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    background: var(--color-bg);
    overflow-x: hidden;
    
}

.change-theme {
    position: absolute;
    top: 115px;
    right: 20px;
    font-size: 4rem;
    cursor: pointer;
    transition: .3s;
    color: var(--color-text);
}

.change-theme:hover {
    color: var(--primary-color-hover);
    font-size: 5rem;
}

/* DARK THEME COLORS */
body.dark-theme {
    --color-bg: #02030B;
    --header-bg : #02030B;
    --resume-bg: #0c0e20;
    --color-text: #96a4cc;
    --white-text: #2b2b2b;
    --primary-color: #04D0F5;
    --primary-color-hover: #03bcdd;
    --color-box-shadow: rgba(255, 255, 255, 0.055);
    --color-border : #ffffff59;
    --alert-color : rgb(179, 46, 46);
}

.header {
    display: flex;
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 12;
    top: 0px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.3rem;
    border-bottom: 1px solid var(--color-border);
    background-color:var(--header-bg);
    box-shadow: none;
}

.header:hover {
    box-shadow: 0px 1px 10px var(--color-box-shadow);
}

.logo {
    display: flex;
    flex-direction: row;
    font-size: 3.6rem;
    font-weight: 700;
}

.logo a {
    color: var(--color-text);
    transition: .3s
}

.logo a:hover {
    color: var(--primary-color-hover);
    font-size: 4rem;
}

.name-logo {
    position: relative;
    top: 20px;
    left: 5px;
    font-size: 2rem;
    color: var(--color-text);
    font-weight: 300;
}

.navbar {
    display: flex; 
    align-items: baseline;
}

.nav-itens {
    display: flex;
    align-items: center;
    color: var(--color-text);
    font-size: 2rem;
    font-weight: 275;
    transition: .3s;
}


.nav-itens:nth-of-type(1) {
    border-right: 1px solid var(--color-border);
    padding: 0 4rem 0 4rem;
}

.nav-itens:nth-of-type(2){
    border-right: 1px solid var(--color-border);
    padding: 0 4rem 0 4rem;
}

.nav-itens:nth-of-type(3){
    padding: 0 4rem 0 4rem;
    border-right: 1px solid var(--color-border);
    border: none;
}

.contact-me-btn {
    background: var(--primary-color);
    margin-left: 8rem;
    width: 189px;
    height: 64px;
    padding: 1rem;
    border-radius: 50px;
    color: white;
    font-weight: 500;
    font-size: 2rem;
    justify-content: center;
    box-shadow: 0px 8px 10px var(--color-box-shadow);
    transition: .3s;
    border: none;
    transition: .3s;
}


.contact-me-btn:hover {
    color: white;
    background-color: var(--primary-color-hover) ;
    box-shadow: none;
    font-size: 2.1rem;
}

.nav-itens:hover {
    color: var(--primary-color-hover);
    font-size: 2.1rem;
    font-weight:500;
}


/* ----------------------------NAVBAR END------------------------------- */


/* ----------------------------HOME SECTION------------------------------- */

.home {
    height:100vh;
    color: var(--color-text);
}

.title {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.home-title {
    width: 30%;
    min-width: 78rem;
    animation: typing 1.5s steps(31), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 6.4rem;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
    border-color: transparent
    }
}

.sub-heading {
    font-size: 4rem;
    display: flex;
    padding-left: 27rem;
}

.arrow {
    font-size:10rem;
    margin:  0 auto;
}

.bx {
    color: var(--color-text);
    transition: .3s;
}

.arrow-text {
    font-size:1.6rem;
    font-weight: 600;
    color: var(--color-text);
    position: absolute;
}

.bx:hover {
    color: var(--primary-color-hover);
}

.social-medias {
    display:flex;
    flex-direction: column;
    position: fixed;
    padding-left: 2rem;
    top: 35%;
    font-size:4rem;
}

.social-media-itens {
    color: var(--color-text);
    transition: .5s;
}
.social-media-itens:hover {
    color: var(--primary-color-hover);
    font-size: 4.5rem;
} 
/* ---------------------------- END OF HOME SECTION------------------------------- */

/* ---------------------------- ABOUT ME SECTION------------------------------- */

.about-me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
    height: 90%;
    color: var(--color-text);
    margin-left: 200px;
}


.about-me-text {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    gap: 5rem;
}

.about-me-title {
    display: flex;
    font-size: 10rem;
}

.about-me-p {
    display: flex;
    font-size: 1.5rem;
    line-height: 2rem

}

.about-me-img {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    height: 80vh;
    width: 700px;
}

/* ---------------------------- END OF ABOUT ME SECTION------------------------------- */


/* ---------------------------- RESUME SECTION------------------------------- */

.resume {
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    margin-top: 20rem;
    height:100vh;
}

.resume-paper {
    background-image:linear-gradient(180deg, var(--resume-bg), rgba(255, 255, 255, 0));
    height: 85%;
    width: 85%;
    max-width: 100rem;
    border-top: solid 0.4rem;
    border-left: solid 0.4rem;
    border-right: solid 0.4rem;
    border-color: var(--resume-border-color);
    border-top-left-radius: 2.4rem;
    border-top-right-radius: 2.4rem;
    margin-right: 20rem;
    margin-left: 20rem;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2.5rem;
}

.resume-title {
    color: var(--color-text);
    margin-top: 3rem;
    margin-left: 3rem;
    font-size: 4rem;
}

figure {
    display: inline-block;
}

figcaption {
    display: flex;
    justify-content:center;
    color: var(--color-text);
    font-weight: bold;
    font-size: 1.5rem;
}

.skills {
    max-width: 90rem;
    border: 0.1rem solid var(--resume-border-color);;
    border-radius: 5.2rem;
    margin-left: 3rem;
    height: 90%;
    width: 95%;
}

.skills-itens {
    margin-top: 3rem;
    margin-left: 3rem;
    width: 350px;
    height: 100px;
}

.skill-item {
    font-size: 10rem;
    transition: .3s;
}

.skill-item:hover {
    font-size: 11rem;
}

.languages {
        max-width: 90rem;
    border: 1px solid var(--resume-border-color);;
    border-radius: 5.2rem;
    margin-left: 3rem;
    height: 50%;
    width: 95%;
}

.language-itens {
    display: flex;
    gap: 3rem;
    margin-left: 4rem;
    width: 250px;
}

.skill-title {
    color: var(--color-text);
    margin-top: 2rem;
    margin-left: 4rem;
    font-size: 2rem;
}

.language-title {
    color: var(--color-text);
    margin-top: 2rem;
    margin-left: 4rem;
    font-size: 2rem;
}

.resume-download-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
    height: 5rem;
    width: 15rem;
    background: var(--primary-color);
    padding: 1rem;
    border-radius: 5rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: 0px 0.8rem 1rem var(--color-box-shadow);
    transition: .3s;
}

.resume-download-btn:hover {
    color: white;
    background-color: var(--primary-color-hover);
    box-shadow: none;
}


/* ---------------------------- END OF RESUME SECTION ------------------------------- */



/* ---------------------------- PROJECTS SECTION------------------------------- */


.projects {
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 10rem;
}

.projects-title {
    position: absolute;
    margin-bottom: 40rem;
    font-size: 4rem;
    color: var(--color-text);
}

.flip-box {
    display:flex;
    background-color: transparent;
    width: 275px;
    height: 253px;
    margin-top: 10rem;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip-box-front {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: transparent;
    color: var(--color-text);
    font-size: 4rem;
    cursor: pointer;
}

.flip-box-back {
    display:flex;
    justify-content:center;
    align-items:center;
    transform: rotateY(180deg);
    color: var(--color-text);
    background-color:transparent;
    font-size:5rem;
    cursor: pointer;
}

.project-arrow{
    font-size:10rem;
}



/* ---------------------------- END OFPROJECTS SECTION------------------------------- */



/* ---------------------------- FOOTER SECTION------------------------------- */


.footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50px;
}

.footer-text {
    display:flex;
    font-weight: bold;
    justify-content:space-around;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--color-text);
    transition: .5s;
    
}

.footer-text:hover {
    color: var(--primary-color-hover);
    font-size: 2rem;
}

.footer-social-media {
    display: none;
}

/* ---------------------------- END OF FOOTER SECTION------------------------------- */


/* ---------------------------- CONTACT ME FORM------------------------------- */
.contact-me-form {
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgba(37, 36, 36, 0.641);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.form-content {
    background-color: var(--color-bg);
    padding: 16px 24px;
    width: 60%;
    border-radius: 1rem;
}

.modal-close-btn {
    float: right;
    font-size: 5rem;
    cursor: pointer;
    text-align: center;
    line-height: 24px;
    transition: 0.2s;
}

.modal-close-btn:hover {
    font-size: 5.2rem;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    overflow-x: hidden;
}

.form-title {
    font-size: 5rem;
    color: var(--color-text);
    text-align: center;
    margin-bottom: 4rem;
}

.form input {
    font-size: 1.5rem;
}

.form label,
.form input,
.form textarea {
    display: block;
    width: 100%;
}

.form label {
    color: var(--color-text);
    font-size: 2rem;
    line-height: 2;
    margin-bottom: 1rem;
}

.form input,
.form textarea {
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    font-size: 1.6rem;
    background-color: var(--color-background);
    color: var(--color-text);
    transition: .3s;
}

.form textarea {
    min-height: 50% ;
    max-height: 20rem ;
    resize: vertical;
}

.form-send-btn {
    display: flex;
    justify-content:center;
    align-items: center;
    float: right;
    margin-top:1rem;
    height: 7rem;
    width: 10rem;
    background: var(--primary-color);
    padding: 1rem;
    border-radius: 10rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: 0px 0.8rem 1rem var(--color-box-shadow);
    transition: .3s;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.form-send-btn:hover {
color: white;
background-color: var(--primary-color-hover);
box-shadow: none;
font-size: 1.6rem;
}

.bxs-send {
    color: white;
    font-size:4rem;
    transition: .3s;
}

.bxs-send:hover {
    color: white;
    font-size:4.2rem;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus{
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 1.6px var(--primary-color);
}

/* ---------------------------- END OF CONTACT ME FORM------------------------------- */



/* ---------------------------- RESPOSIVE ------------------------------- */


.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--color-text);
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 1325px) {
    
    .about-me {
        display: flex;
        flex-direction: column-reverse;
        margin-left: auto;
    }

    .resume-paper {
        width:85rem;
    }

    .skills {
        max-width: 75rem;
    }

    .languages {
        max-width: 75rem;
    }

    .name-logo{
        display: none;
    }
}

@media (max-width:964px) {

    body {
        overflow-x: hidden;
    }

    .nav-itens:nth-of-type(1) {
        border-right: none;
    }

    .nav-itens:nth-of-type(2) {
        border-right: none;
    }
    
    .mobile-menu {
        display:block;
    }  

    .change-theme {
        margin-right: 30rem;
        margin-top: 40rem;
    }


    .navbar {
        display: flex;
        position: absolute;
        top: 98px;
        right: 0;
        width: 50vw;
        height: 100vh;
        background: var(--color-bg);
        flex-direction: column;
        align-items:center;
        justify-content: space-evenly;   
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-itens {
        margin-bottom: 10rem;
        margin-left: 0;
        opacity: 0;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .name-logo {
        display: flex;
    }

    .social-medias{
        display:none;
    }

    .resume-paper {
        width:65rem;
    }

    .skills {
        max-width: 55rem;
    }

    .languages {
        max-width: 55rem;
    }

    .footer-social-media {
        display: flex;
        gap: 10px;
        margin-right: 10px;
        flex-direction: column;
        font-size: 2.8rem;
    }

    .footer-social-media-itens {
        color: var(--color-text);
    }
    .footer-social-media-itens:hover {
        color: var(--primary-color-hover);
    } 

    .footer {
        display: flex;
        justify-content:center;
        align-items: flex-end;
        height: 50px;
        justify-content: space-between;
    }


}

@media (max-width: 1097px){

    .resume-paper {
        display: none;
    }

}


@media (max-width: 846px) {

    html {
        font-size:55%
    }

    .home-title {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        min-width: 52rem;
    }

    .sub-heading {
        padding-left: 0;
    }

    .change-theme {
        margin-right: 35rem;
        margin-top: 46rem;
    }

} 


.navbar.active {
    transform: translateY(0);
}




@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.mobile-menu.active .first-line {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .second-line {
    opacity: 0;
}

.mobile-menu.active .third-line {
    transform: rotate(45deg) translate(-5px, -7px);
}